################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDBDemoApp/.vs/MongoDBDemoApp/v16/Server/sqlite3/db.lock
/MongoDBDemoApp/.vs/MongoDBDemoApp/v16/Server/sqlite3
